* {
    font-family: monospace;
}

.container {
    text-align: center;
}

.green {
    color: green;
}

.blue {
    color: blue;
}

.red {
    color: red;
}

.error {
    color: maroon;
}