* {
    font-family: monospace;
}

.container {
    text-align: center;
}

.green {
    color: green;
}

.blue {
    color: blue;
}

.red {
    color: red;
}

.error {
    color: error;
}

.home > a {
    font-size: 16px;
}

.footer {
    margin-top: 50px;
}
