* {
    font-family: monospace;
}

.container {
    text-align: center;
}

.green {
    border-radius: 10px;
    margin: 10px;
    background: green;
    padding: 5px;
    color: white;
}

.blue {
    border-radius: 10px;
    margin: 10px;
    background: blue;
    padding: 5px;
    color: white;
}

.red {
    border-radius: 10px;
    margin: 10px;
    background: red;
    padding: 5px;
    color: white;
}

.error {
    border-radius: 10px;
    margin: 10px;
    background: maroon;
    padding: 5px;
    color: white;
}

.home > a {
    font-size: 16px;
}

.footer {
    margin-top: 50px;
}
