* {
    font-family: 'Segoe UI', sans-serif;
}

.container {
    text-align: center;
}

.title > a {
    text-decoration: none;
    color: black;
}

.banner {
    background: #ff000055;
    padding: 10px;
    border-radius: 10px;
}

.history > .content {
    width: 300px;
    word-break: break;
}
    
.green {
    color: green;
    margin: 10px;
}

.blue {
    color: blue;
    margin: 10px;
}

.red {
    color: red;
    margin: 10px;
}

.error {
    color: maroon;
    margin: 10px;
}

.footer {
    margin-top: 50px;
}

.footer > .copyright > p > a {
    font-weight: 700;
    color: blue;
    text-decoration: none;
}
